{{#if this.session.isAuthenticated}}
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container d-flex justify-content-between">
      <div></div>
      <LinkTo @route="authenticated.index" class="navbar-brand">QA</LinkTo>
      <BsButton @defaultText="Logout" @type="secondary" @size="sm" @onClick={{action "logout"}} />
    </div>
  </nav>
  
  <div class="container">
    {{outlet}}
  </div>
{{else}}
  {{outlet}}
{{/if}}
