<div class="container-fluid px-0 mb-4">
  <nav class="navbar navbar-dark bg-dark align-items-center">
    <LinkTo @route="index" class="navbar-brand w-100 text-center">QA</LinkTo>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
